<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<!-- Bokeh CSS -->
	<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.css" type="text/css" />
	<link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.css" type="text/css">

	<!-- Bokeh scripts -->
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-1.4.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-1.4.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-1.4.0.min.js"></script>
	<script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-1.4.0.min.js"></script>

	<style>
		p, .txt {  text-align: justify;
			 	text-justify: inter-word;
				}
	</style>

	<!-- Layout stylesheet -->
	<link rel="stylesheet" type="text/css" href="base.css">
</head>
<body>
	<h1>Our InfoVis project</h1>
	<div id="container">
		<div id="content">
			<div id="dissimilar_artworks_container">
				Dissimilar artworks
			</div>
			<div id="similar_artworks_container">
				Similar artworks
			</div>
		</div>
		<div id="bar">
			<div id="search_bar">
				SEARCH (and optional filters)
			</div>
			<div id="info_bar">
				CENTER ARTWORK DETAILS
			</div>
		</div>
	</div>
</body>
</html>
