<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>OmniArt Exploration</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- D3 package -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- buttons menu bar -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- Layout stylesheet -->
    <link rel="stylesheet" type="text/css" href="../static/css/test.css">

    <link rel="stylesheet" type="text/css" href="../static/css/collapsed_sidebar.css">
    <link rel="stylesheet" type="text/css" href="../static/css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../static/css/checkbox.css">
    <link rel="stylesheet" type="text/css" href="../static/css/selection.css">

    <script src="../static/js/collapsed_sidebar.js"></script>

    <!-- Slider -->
    <script src="../static/js/d3-simple-slider.js"></script>

</head>


<body>
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div id="center_image">
                <!-- !!!!!!!!!!!!!!!!! center is not supported in html5 !!!!!!!!!!!!!!!!!!!!! -->
                <center>
                    <img id="img01" src="https://uploads8.wikiart.org/images/vajda-lajos/table-still-life-with-armchair-1934.jpg" />
                </center>
            </div>
            <div id="popup_information">
                Artwork name.<br /><br />Artist name (year).
            </div>
        </div>
    </div>

    <div  id="myheader" class="header" style='opacity: 0;'>

        <!-- the main menu icons -->
        <div id="mySidebar" class="sidebar">
            <a class="btn closebtn" onclick="closeNav()">×</a>
            <a class="btn" onclick="open_selected_nav('about')">About</a>
            <a class="btn" onclick="open_selected_nav('search')">Search</a>
            <a class="btn" onclick="open_selected_nav('contact')">Contact</a>
        </div>

        <!-- about us side bar -->
        <!-- <div id="about_mySidebar" class="sidebar" style="margin-left: 250px; background-color: #D2B48C; color:#111;"> -->
        <div id="about_mySidebar" class="sidebar" style="margin-left: 250px; background-color: #b6a999; color:#111;">
            <h4 style="margin-left: 20px;margin-top: 18px; margin-right: 20px; font-size: medium; font-weight: bolder;">WHAT IS OMNIART?</h4>
            <p type="text" style="margin-left: 20px;margin-top: 18px;margin-right: 20px; font-size: small;">
            OmniArt is a large scale artistic benchmark dataset aggregated from multiple collections around the world.
            </p>

            <br>

            <h5 style="margin-left: 20px;margin-top: 18px; margin-right: 20px; font-size: medium; font-weight: bolder;">WHAT IS OMNIART EXPLORATION?</h5>
            <p type="text" style="margin-left: 20px;margin-top: 18px;margin-right: 20px; font-size: small;">
                In OmniArt Exploration we aim to visualize a different range of artworks as well as visually similar artworks to one current selected artwork.  .... (This should be modified).
            </p>
        </div>

        <!-- sidebar that appears after clicking on search buttun -->
        <!-- <div id="search_mySidebar" class="sidebar" style="margin-left: 250px; background-color: darkred; "> -->
        <!-- <div id="search_mySidebar" class="sidebar" style="margin-left: 250px; background-color: darkred; color:whitesmoke; "> -->
            <div id="search_mySidebar" class="sidebar" style="margin-left: 250px; background-color: #b6a999; color:#111; ">
            <label for="search_cat" class="select_btn_label" style="margin-left: 20px;margin-top: 18px; margin-right: 20px;font-size: medium; font-weight: bolder;" >Based on:</label>
            <br>
            <div id="search_cats_container" style="width:210px">
                <!-- <select id="search_cat" class="btn" name="search_cat" style="margin-left: 20px;margin-right: 20px;background-color: white;"> -->
                    <select id="search_cat" class="btn" name="search_cat" style="margin-left: 20px;margin-right: 20px;background-color: #e7Dfdd;">
                    <option>Art name</option>
                    <option>Artist full name</option>
                </select>
            </div>
            <br>
            <label for="search_key" class="search_key_label" style="margin-left: 20px;margin-top: 18px; margin-right: 20px; font-size: medium; font-weight: bolder;" >Search Key:</label>
            <div class="autocomplete">
                <input type="text" id="search_key" class="search_key" name="search_key" value="" style="margin-left: 20px;">
            </div>
            <br><br>
            <label for="search_key" class="search_key_label" id="search_results_header" style="margin-left: 20px;margin-top: 18px; margin-right: 20px; font-size: medium; font-weight: bolder;" >Search Results:</label>
            <div id="search_results"></div>
        </div>

        <!-- <div id="contact_mySidebar" class="sidebar" style="margin-left: 250px; background-color: #005588;color:whitesmoke;"> -->
        <!-- <div id="contact_mySidebar" class="sidebar" style="margin-left: 250px; background-color: whitesmoke;color:#111;"> -->
        <div id="contact_mySidebar" class="sidebar" style="margin-left: 250px; background-color: #b6a999;color:#111;"> <!-- Light redish gray -->
            <h4 style="margin-left: 20px;margin-top: 18px; margin-right: 20px; font-size: medium; font-weight: bolder;">Emails:</h4>
            <p style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Masoumeh Bakhtiarizibari: <br> mbakhtiariz [at] gmail [dot] com</p>
            <p style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Kylian van Geijtenbeek: <br> kylian.vangeijtenbeek [at] gmail [dot] com</p>
            <p style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Barry Hendriks: <br> barryhendriks98 [at] gmail [dot] com</p>
            <p style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Iulia Ionescu: <br> iulia [dot] ionescu [at] student [dot] uva [dot] nl</p>
            <p style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Martine Toering: <br> martine [dot] toering [at] student [dot] uva [dot] nl</p>
            <p style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Gjorgji Strezoski: <br> g.strezoski [at] uva [dot] nl</p>

            <br>

            <h4 style="margin-left: 20px;margin-top: 18px; margin-right: 20px; font-size: medium; font-weight: bolder;">Address:</h4>
            <address style="margin-left: 25px;margin-top: 18px;margin-right: 20px; font-size: small;">Science Park 904 <br>
                Amsterdam, The Netherlands</address>
        </div>

    </div>



    <div id="container"></div>

    <div id="overlay" onclick="info_off()"></div>
    <div id="filtering_section" class="align-items-center filtering_section" style='opacity: 0;'>

        <!-- slider: -->
        <div id="slider-range"></div>

        <!-- check box to add filter on similar area: -->
        <div id="similar_too_div">
            <!-- <label class="checkbox" for="similar_too" style="color:whitesmoke"> Filter similarity area -->
            <label class="checkbox" for="similar_too" style="color:#e7Dfdd"> Filter similarity area
                <input type="checkbox" id="similar_too" name="similar_too" value="similar_too" onclick="filter_similars()">
                <span class="checkmark"></span>
            </label><br>
        </div>

        <!-- Area for showing the time filter values -->
        <div id="time_filter_values"></div>

        <!-- category filter: -->
        <div id="cat_container" style="width: 300px">
            <div id="cat_label" for="general_cats" style="position: absolute;">Filter category:</div>
            <div id="cat_div" style="width: 150px;">
                <select id="general_cats" name="general_cats">
                    <option>all</option>
                    <option>print</option>
                    <option>photograph</option>
                    <option>sculpture</option>
                    <option>design</option>
                    <option>weapons and armor</option>
                    <option>drawing</option>
                    <option>painting</option>
                    <option>craft</option>
                    <option>installation</option>
                    <option>textile</option>
                </select>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    // Constants -------------------------------------------------//
    const height_navbar = 100;
    const center_image_size = 200;
    const similar_image_size = 85;
    const dissimilar_image_size = 85;
    const time_till_tooltip_appearance = 500;
    const time_till_loading_appearance = 1500;
    const stroke_color_images_high_similarity = [86,184,207];  // Moderate cyan
    const stroke_color_images_low_similarity =  [204,0,0];  //  Boston University Red

    // Possible colors
    // [125, 131, 255]; //color blind blue
    // [80, 197, 183]; //  color blind green
    // [51,96,255]; //iulia blue
    // [160,255,112]; //  iulia's green
    //[255,0,0]; // red
    // [86,184,207];  // Moderate cyan
    //[139, 0, 0];//dark red
    // [210,180,140];//wheat
    // [204,0,0];  //  Boston University Red

    const removal_transition_speed = 500;
    const appearance_transition_speed = 500;
    const overlay_transition_speed = 1000;
    const appearance_transition_loading = 1000;
    const removal_transition_speed_middle_image = 0;
    const time_to_suspend_middle_image_after_click = 0;
    const imgs_path = "static/subset/";
    const nr_similar_images = 80;
    const nr_dissimilar_images = 30;
    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds));
    }

    // Variables -------------------------------------------------//
    var svgwidth = document.body.clientWidth;
    var svgheight = document.body.clientHeight - height_navbar;
    var timer_tooltip;
    var timer_loading;
    var filter_sec_top = svgheight + 'px';
    var timeslider_width = svgwidth * .95
    var timeslider_padding_left = (svgwidth - timeslider_width) * 0.5;
    // var filter_cat_padding_left = svgwidth - 400 + 'px';
    var filter_cat_padding_right = timeslider_padding_left + 'px';
    var filter_cat_padding_top = height_navbar - 40 + 'px';
    var filter_checkbox_padding_left = timeslider_padding_left - 10 + 'px';
    var NEIGHBORS_LISTENER;
    var SIM_SCORE_LISTENER;
    var undo_stack = [];
    var undo_locs = [];
    var undo_ids = [];
    var redo_stack = [];
    var redo_locs = [];
    var redo_ids = [];
    var old_middle_image = "";
    var selected_locs_dict = {};
    var selected_nearest_ids_dict = {};
    var outside_images = [];
    var outside_subset = [];
    var dissimilar_locs = [];
    var similar_locs = [];
    var tmp_ids = {{ tmp_ids |safe }}; // Small list of the first 10000 images in subset folder
    var images_ids_subset; // global vars for nearest and explore images ids
    var nearest_ids; // global vars for nearest and explore images ids
    var data; // Data loading from json
    var available_ids; // Data loading from json
    var middle_image; // Data loading from json
    var artnames_to_ids; // Data loading from json
    var artists_to_ids; // Data loading from json
    var artnames_list_cased; // Data loading from json: List with artnames with upper/lower casing as in dataset
    var artists_list_cased; // Data loading from json: List with artist names with upper/lower casing as in dataset
    var middle_x = svgwidth * 0.25;
    var middle_y = svgheight * 0.25 - height_navbar / 2 ;
    var middle_width = svgwidth * 0.5;
    var middle_height = svgwidth * 0.25;
    var loading;
    var svg;
    var middle;
    var filter;
    var center;
    var defs;
    var similarity_plotter_id = 0;
    var exploration_plotter_id = 0;
</script>

<!-- Import dragable images code -->
<script src="../static/js/drag_imgs.js"></script>
<!-- Import set_center image function -->
<script src="../static/js/center_image.js"></script>
<!-- Import non dragable images code-->
<script src="../static/js/append_imgs.js"></script>
<!-- Import similarity placement code -->
<script src="../static/js/similar_generation.js"></script>
<!-- Imports for the backend connection + nearest neighbor querying -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="../static/js/nearest_neighbors.js"></script>
<!-- Import for loading screen -->
<script src="../static/js/loading.js"></script>
<!-- Import for autocompletion of search bar -->
<script src="../static/js/autocomplete.js"></script>
<!-- Import for custom selection for category -->
<script src="../static/js/selection.js"></script>


<script type="text/javascript">
    // Draw screen -------------------------------------------------//
    // Container for the loading screen
    loading = d3.select("#container").append("div")
        .attr("id", "loading");

    // Display the loading screen
    loading_screen(loading, tmp_ids);

    svg = d3.select("#container").append("svg")
        .attr("preserveAspectRatio", "none")
        .attr("viewBox", "0 0 " + svgwidth + " " + svgheight)
        .attr("id", "page");

    middle = svg.append("svg")
        .attr("class", "middle")
        .attr("x", middle_x)
        .attr("y", middle_y)
        .attr("width", middle_width)
        .attr("height", middle_height);

    middle.append("rect")
        .attr("class", "middle")
        .attr("width", middle_width)
        .attr("height", middle_height)
        .attr("rx","0px")
        .attr("ry","0px");

    defs = svg.append("defs");

    filter = middle.append("filter")
        .attr("id","blur");

    filter.append("feGaussianBlur")
        .attr("stdDeviation","3.5")
        .attr("result","coloredBlur");

    center = middle.append("svg");

    // Add listeners -------------------------------------------------//
    // Add listener to close side menu if we click anywhere on the page (except the menu button)
    document.getElementById("page").addEventListener("click", function(e) {
        if ((e.target.id != "menu_button") && (e.target.id != "menu_button_icon")) closeNav();
    });
    document.getElementById("filtering_section").addEventListener("click", function(e) {
        closeNav();
    });

    // Listener for if the json has been created
    socket.on('json_loaded', function () {
        get_meta();
    })
</script>

<script src="../static/js/tooltips.js"></script>
<script src="../static/js/buttons.js"></script>
<script src="../static/js/filter.js"></script>
<script src="../static/js/search.js"></script>
<script src="../static/js/utils.js"></script>
<script src="../static/js/similar.js"></script>
<script src="../static/js/dissimilar.js"></script>
<script src="../static/js/undo_redo.js"></script>
<script src="../static/js/info.js"></script>

<script type="text/javascript">
    // Perform actions -------------------------------------------------//
    calculate_dissimilar_grid();

    // Once DATA_LOADED is set to true in get_meta(), setup the page
    DATA_LOADED = new TrueListener(function() {
        let start_time = parseInt(sliderRange.value()[0]);
        let end_time = parseInt(sliderRange.value()[1]);
        let category = document.getElementById("general_cats").value

        let filtered_ids = available_ids.filter(filter_func);
        function filter_func(my_id){
            return data[my_id]["creation_year"] >= start_time && data[my_id]["creation_year"] <= end_time
            && (category.toLowerCase() === "all" || data[my_id]["general_type"] === category);
        }

        middle_image = filtered_ids[Math.floor(Math.random() * filtered_ids.length)];
        set_center(center, middle_image).then(() => {
            change_similar_images(plot_dissimilar=true);
        });

        imageLoader.terminate(); // Terminate the image loader worker
        showPage();

        // Turn on the autocompletion
        if (document.getElementById("search_cat").value == "Art name") {
            autocomplete(document.getElementById("search_key"), artnames_list_cased);
        } else {
            autocomplete(document.getElementById("search_key"), artists_list_cased);
        }

        setTimeout(clearIntervals(), 500);

    })

    // Call get_meta to load the metadata
    get_meta(DATA_LOADED);

    // This function fades out the loading page and then fades in the actual page
    function showPage() {
        time = 1000;
        d3.select("#loading")
            .transition()
            .duration(time)
            .style("opacity", 0)

            // Once the loading page has faded out, remove it and fade normal page in
            .on("end", function () {
                d3.select(this).remove();
                d3.select("#page")
                .style("display", "block")
                .transition()
                .duration(time)
                .style("opacity", 1);
                d3.select(".header")
                .style('opacity', 1);
                d3.select("#filtering_section")
                .style('opacity', 1);
            });
    }
</script>
</html>
