<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- D3 package -->
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <!-- Layout stylesheet -->
<!--   <link rel="stylesheet" type="text/css" href="base.css">-->
<!-- For shuffle/undo/redo button icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        p, .txt {  text-align: justify;
            text-justify: inter-word;
        }

        body {
			margin: 0;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: #02090d;
		}

        .image-outline {
            fill: none;
            stroke: #dbdbdb;
            stroke-width: 2;
        }
        .middle {
            fill: #3e5869;
            stroke: #dbdbdb;
            stroke-width: 2;
        }
        .button {
            fill: #0b3c5d;
            stroke: #dbdbdb;
            stroke-width: 2;
        }
        #container{
            width: 100%
        }
    </style>
</head>
<body>
<div id="container"></div>
</body>

<!-- Import dragable images code -->
<script src="../static/js/drag_imgs.js"></script>
<!-- Import set_center image function -->
<script src="../static/js/center_image.js"></script>
<!-- Imports for the backend connection + nearest neighbor querying -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="../static/js/nearest_neighbors.js"></script>

<script type="text/javascript">
    var svgwidth = 960;
    var svgheight = 500;

    var svg = d3.select("#container").append("svg")
        .attr("preserveAspectRatio", "xMinYMin meet")
        .attr("viewBox", "0 0 " + svgwidth + " " + svgheight);

    var image = {
        size: 50
    }

    console.log(d3.select('svg').node().getBBox());

    var defs = svg.append("defs");
    var middle_x = svgwidth*0.25;
    var middle_y = svgheight*0.25;

    var middle = svg.append("svg")
        .attr("class", "middle")
        .attr("x", middle_x)
        .attr("y", middle_y)
        .attr("width", svgwidth*0.5)
        .attr("height", svgwidth*0.25);

    middle.append("rect")
        .attr("class", "middle")
        .attr("width", svgwidth*0.5)
        .attr("height", svgwidth*0.25);

    var center = middle.append("svg")
        .append("image")
        .attr("clip-path", "url(#clip)");


    // var j;
    // var grid = [];
    // var grid_similar = [];
    // var grid_dissimilar = [];
    //
    // for (i = 0; i < svgwidth; i += image.size) {
    //     for (j = 0; j < svgheight; i += image.size) {
    //         grid.concat([i, j]);
    //     }
    // }
    //
    // for (i = middle_x; i < middle_x + svgwidth; i += image.size) {
    //     for (j = middle_y; j < middle_y + svgheight; i += image.size) {
    //         grid_similar.concat([i, j]);
    //     }
    // }
    //
    // grid_dissimilar = grid.filter(n => !grid_similar.includes(n));
    // console.log("grid");
    // console.log(grid);
    // console.log("grid_sim")
    // console.log(grid_similar)

    var backbutton = middle.append("rect")
        .attr("class", "button")
        .attr("width", svgwidth*0.025)
        .attr("height", svgwidth*0.025);

    var redobutton = middle.append("rect")
        .attr("class", "button")
        .attr("x", svgwidth*0.025)
        .attr("width", svgwidth*0.025)
        .attr("height", svgwidth*0.025);

    backbutton.on('click', function() {
        console.log('go back to previous image');
    });
    redobutton.on('click', function() {
        console.log('redo images');
    });

    var test = svg.append("g")
        .datum({position: [0, 0], height: 35, width: 55})
        .attr("transform", d => "translate(" + d.position + ")");

    var randomizebutton = test.append("rect")
        .attr("class", "button")
        .attr("x", 0)
        .attr("y", 0)
        .attr("width", 50)
        .attr("height", 30)

    randomizebutton.on('click', function() {
        console.log('randomize all outside images');
        change_dissimilar_images()
    });

    var data = {{ data |safe }};
    var available_ids = {{ available_ids |safe }};
    var imgs_path = "static/subset/";
    var middle_image = 2005927;
    var n_neighbours = 5;
    var nr_images_outside = 5;
    var outside_images = [];
    var outside_subset = [];
    var dissimilar_locs = [];
    var similar_locs = [];
    set_center(center, middle_image);

    function change_dissimilar_images() {
        outside_images = available_ids.filter(n => !nearest_ids.includes(n));
        outside_images = outside_images.sort(() => Math.random() - 0.5);
        outside_subset = outside_images.slice(0, nr_images_outside);
        dissimilar_locs = [[30, 400], [810, 280], [650, 390], [50, 80], [400, 30]];

        // --- selecting location of dis-similar layer and plotting those images:
        var i;
        for (i = 0; i < outside_subset.length; i++) {
            appendDraggableImage(imgs_path + outside_subset[i].toString() + ".jpg", dissimilar_locs[i]);
        };

        console.log("change dissimilar");
    }

    function change_similar_images() {
        nearest_neighbors(middle_image, n_neighbours);
        similar_locs = [[260, 270], [260, 180], [400, 130], [500, 300], [550, 130]];

        // Sleep for 500 ms until neighbouring images is found
        const sleep = (milliseconds) => {
            return new Promise(resolve => setTimeout(resolve, milliseconds))
        }
        sleep(500).then(() => {
            // --- selecting location of similar layer and plotting those images:
            // Start i from 1 to filter-out central image:
            var i;
            for (i = 1; i < nearest_ids.length; i++) {
                appendDraggableImage(imgs_path + nearest_ids[i].toString() + ".jpg", similar_locs[i-1]);
            };
            console.log("change similar");
        });
    }

    change_similar_images()
    // Sleep for 500 ms until neighbouring images is found
    const sleep = (milliseconds) => {
        return new Promise(resolve => setTimeout(resolve, milliseconds))
    }
    sleep(500).then(() => {
        change_dissimilar_images()
    });
    // console.log(available_ids)
</script>
</html>
