<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v4.min.js"></script>
	<style>
		p, .txt {  text-align: justify;
			 	text-justify: inter-word;
				}
	</style>

	<!-- Layout stylesheet -->
	<link rel="stylesheet" type="text/css" href="base.css">
	<style>
		body { margin:0;position:fixed;top:0;right:0;bottom:0;left:0; }

		svg {
		  background-color: #fffbef;
		}
		.circle-outline {
		  fill: none;
		  stroke: #dbdbdb;
		  stroke-width: 2;
		}
		.middle {
		  fill: none;
		  stroke: #dbdbdb;
		  stroke-width: 2;
		}
	  </style>
</head>
<body>
	<div class=test>
		<script>
			var svgwidth = 960
			var svgheight = 500

			var svg = d3.select("body").append("svg")
			  .attr("width", svgwidth)
			  .attr("height", svgheight)

			var image = {
			  size: 100
			}

			console.log(d3.select('svg').node().getBBox())

			var defs = svg.append("defs");

			var middle = svg.append("rect")
				.attr("class", "middle")
				.attr("x", svgwidth*0.25)
				.attr("y", svgheight*0.25)
				.attr("width", svgwidth*0.5)
				.attr("height", svgwidth*0.25);

			var doctorUrl1 = "../../data/images/11027946.jpg",
				doctorUrl2 = "../../data/images/11027927.jpg",
				doctorUrl3 = "../../data/images/11027939.jpg",
				doctorUrl4 = "../../data/images/11027953.jpg";

			appendDraggableImage(doctorUrl1, [550, 280]);
			appendDraggableImage(doctorUrl2, [310, 280]);
			appendDraggableImage(doctorUrl3, [650, 280]);
			appendDraggableImage(doctorUrl4, [10, 80]);

			function appendDraggableImage(url, position) {
			  var imageGroup = svg.append("g")
				  .datum({position: position})
				.attr("transform", d => "translate(" + d.position + ")");

			  var circleFill = imageGroup.append("rect")
				  .attr("class", "circle-fill")
				.attr("x", image.size)
				.attr("y", image.size)
				.attr("width", image.size)
				.attr("height", image.size)
				.attr("filter", "url(#glow");

			  var imageElem = imageGroup.append("image")
				.attr("xlink:href", url )
				.attr("x", image.size)
			 	.attr("y", image.size)
				.attr("height", image.size)
				.attr("width", image.size)
				.attr("clip-path", "url(#clip)");

			  var circleOutline = imageGroup.append("rect")
				.attr("class", "circle-outline")
				.attr("x", image.size)
				.attr("y", image.size )
				.attr("width", image.size)
				.attr("height", image.size);

			  imageGroup.call(d3.drag()
						.on("drag", dragged)
						.on("end", dragended));

			}

			function dragged(d) {
				var newX = d3.event.x - image.size * 1.5,
					newY = d3.event.y - image.size * 1.5;

				xborder = d3.event.x
				if (xborder + image.size*0.5  > d3.selectAll('svg').attr('width')) {
					newX = d3.selectAll('svg').attr('width') - image.size*2
				} else if (xborder - image.size*0.5  < d3.selectAll('svg').attr('width')-d3.selectAll('svg').attr('width')){
					newX = - image.size
				}

				yborder = d3.event.y
				if (yborder + image.size*0.5  > d3.selectAll('svg').attr('height')) {
					newY = d3.selectAll('svg').attr('height') - image.size*2
				} else if (yborder - image.size*0.5  < d3.selectAll('svg').attr('height')-d3.selectAll('svg').attr('height')){
					newY = - image.size
				}

				console.log(d3.select('.middle').attr('y')+d3.select('.middle').attr('height'))

				// TODO fix the hardcoded x+width and y+height, somehow can't add them,
				// see console 
				if ((xborder + image.size*0.5  > middle.attr("x")) && (xborder - image.size*0.5  < (svgwidth/2))) {
					if ((yborder - image.size*0.5 < (365)) && (yborder + image.size*0.5 > middle.attr("y"))) {
						newX = middle.attr("x") - image.size*2
					} 
				} 
				else if ((xborder - image.size*0.5 < (720)) && (xborder + image.size*0.5  > svgwidth/2)) {
					if ((yborder - image.size*0.5 < (365)) && (yborder + image.size*0.5 > middle.attr("y"))) {
						newX = 720 - image.size
					}
				}

				// TODO y borders
				// if (yborder + image.size*0.5  > middle.attr("y")) {
				// 	newY = (d3.middle.attr("y")+middle.attr("height")) - image.size*2
				// } else if (yborder - image.size*0.5  < (middle.attr("y")+middle.attr("height"))){
				// 	newY = - image.size
				// }

				d3.select(this)
					.attr("transform", "translate(" + (d.position = [newX, newY]) + ")");
			}

			function dragended(d) {
			  d3.select(this).lower();

			}



		  </script>
	</div>
</body>

<script type="text/javascript">
	var data = {{ data |safe }};
	var available_ids = {{ available_ids |safe }};
</script>

</html>
